footer {

  background-color: black;
  padding: 20px 0 20px 0;
  font-family: var(--font-main);

  .content {
    margin-top: 20px;

    ul {
      display: flex;
      flex-flow: column wrap;
      align-content: flex-start;
      font-size: 14px;
      height: 120px;

      li {
        display: inline-block;
        margin: 7px 100px 7px 10px;

        &:first-of-type {
          a {
            color: red;
          }
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}