footer {

  background-color: var(--secondary-bgc);
  padding: 20px 0 20px 0;
  font-family: var(--font-main);

  .content {
    margin-top: 20px;

   nav {
      display: flex;
      flex-flow: column wrap;
      align-content: flex-start;
      font-size: 14px;
      height: 120px;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          font-weight: 400;
          display: inline-block;
          margin: 7px 100px 7px 10px;

          &:hover {
            text-decoration: underline;
          }
          &:first-of-type {
            color: red;
          }
        }
      }
    }
  }
