@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800;900&display=swap');
@import "reset";
@import "logo";
@import "header";
@import "cta";
@import "blog";
@import "service";
@import "contact";
@import "footer";
@import "subtitle";
@import "btn";

:root {
  --font-main: "Nunito Sans", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --accent-color: #FF0000;
  --contrast-color: #FFFFFF;
  --secondary-bgc: #28272C;
  --text-color: #6A6A6A;
  --text-col-contrast: black;
  --text-col-less-contrast: #B2B2B2;
}

body {
  background-color: white;
}

.container {
  width: 80%;
  max-width: 1440px;
  min-width: 900px;
  margin: auto;
}